<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title></Title>    
            <Author>Amin Kaam Beigi</Author>
            <Description>Create Console.ForegroundColor</Description>
            <Shortcut>cf</Shortcut> 
        </Header>
        <Snippet>
            <Code Language="Csharp">
                <![CDATA[Console.ForegroundColor]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>